VITE_SUPABASE_URL=https://iytlasbgerhgvyomqxul.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml5dGxhc2JnZXJoZ3Z5b21xeHVsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA5ODgxMTgsImV4cCI6MjEwNjU2NDExOH0.A-3sbjcvRyYtwNKG2Wmqr836NMl82m8vJURFZQma758
GEMINI_API_KEY=
